/*========================================================================
Demo Layout One
=========================================================================*/
.mady-template-layout2 {
	padding: 80px 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 50px;
	height: 100vh;
	position: relative;
	z-index: 1;
	@media screen and (max-width: 1399px) {
		padding: 60px 30px;
	}
	@media screen and (max-width: 1199px) {
		padding: 50px 30px;
	}
	@media screen and (max-width: 767px) {
		padding: 45px 30px;
	}
	@media screen and (max-width: 575px) {
		padding: 40px 12px;
	}
	.mady-bg-img {
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: -1;
		right: 0;
		top: 0;
		img {
			height: 100%;
			width: 100%;
			object-fit: cover;
			transition: all 2s ease-in-out;
		}
	}
	.mady-header {
		text-align: center;
	}
	.mady-main-body {
		text-align: center;
		max-width: 900px;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		.mady-content {
			width: 100%;
		}
		.mady-title {
			color: #ffffff;
			font-size: 80px;
			font-weight: 400;
			margin-bottom: 20px;
			line-height: 1.25;
			@media screen and (max-width: 1399px) {
				font-size: 70px;
			}
			@media screen and (max-width: 1199px) {
				font-size: 60px;
			}
			@media screen and (max-width: 991px) {
				font-size: 50px;
			}
			@media screen and (max-width: 767px) {
				font-size: 40px;
				margin-bottom: 15px;
			}
			@media screen and (max-width: 575px) {
				font-size: 30px;
				margin-bottom: 10px;
			}
		}
		.mady-description {
			max-width: 550px;
			width: 100%;
			margin-left: auto;
			margin-right: auto;
			font-size: 22px;
			font-weight: 600;
			color: #ffffff;
			margin-bottom: 50px;
			@media screen and (max-width: 991px) {
				font-size: 20px;
			}
			@media screen and (max-width: 767px) {
				font-size: 18px;
				margin-bottom: 40px;
			}
			@media screen and (max-width: 575px) {
				font-size: 16px;
				margin-bottom: 30px;
			}
		}
		.mady-form-area {	
			max-width: 710px;	
			width: 100%;
			margin-left: auto;
			margin-right: auto;	
			.form-group {
				border-radius: 45px;
				display: inline-flex;
				align-items: center;
				border: 1px solid #C7C7C7;
				padding: 5px;
				width: 100%;
				input::-ms-input-placeholder {
					color: #C7C7C7;
				}			  
				input::placeholder {
					color: #C7C7C7;
				}
				.mady-email-input {					
					border-radius: 45px;
					color: #ffffff;
					margin-bottom: 0;
					border: 0;
					flex: 1;
					background-color: transparent;
					@media screen and (max-width: 767px) {
						border: 1px solid #C7C7C7;
					}
				}
				@media screen and (max-width: 767px) {
					flex-direction: column;
					border: 0;
					padding: 0;
				}
			}
			.form-control {
				padding: 10px 30px;
				border: 1px solid;
				border-color: #BEBEBE;
				background-color: #ffffff;
				margin-bottom: 20px;
				border-radius: 5px;
				font-size: 16px;
				color: var(--color-title);
				transition: all 0.3s ease-in-out;			
				&:focus {
					border-color: #20282D;
					box-shadow: none;
				}
			}
			input.form-control {
				min-height: 68px;
				@media screen and (max-width: 991px) {
					min-height: 55px;
				}
				@media screen and (max-width: 767px) {
					min-height: 50px;
				}
			}
			.mady-btn-fill {
				position: relative;
				z-index: 1;
				overflow: hidden;
				height: 68px;
				cursor: pointer;
				display: inline-block;
				font-size: 18px;
				font-weight: 600;
				box-shadow: none;
				outline: none;
				border: 1px solid var(--color-primary-2);
				color: #fff;
				border-radius: 45px;
				background-color: var(--color-primary-2);
				padding: 10px 36px;
				transition: all 0.3s ease-in-out;
				&:before {
					content: '';
					position: absolute;
					top: 50%;
					left: 50%;
					width: 800%;
					height: 800%;
					background-color: #ffffff;
					z-index: -1;
					transform: translate(-50%, -50%) rotate(45deg) scale(0);
					transition: all 0.3s ease-in-out;
				}
				@media screen and (max-width: 991px) {
					height: 55px;
					font-size: 17px;
				}
				@media screen and (max-width: 767px) {
					height: 50px;
					font-size: 16px;
					width: 100%;
					margin-top: 10px;
				}
				&:hover {
					color: var(--color-primary-2);
					&:before {
						transform: translate(-50%, -50%) rotate(45deg) scale(1);
					}
				}			
			}
		}
	}
}
