/*========================================================================
Demo Layout One
=========================================================================*/
.mady-template-layout3 {
	padding: 60px 30vw 60px 210px;
	display: flex;
	flex-direction: column;
	gap: 50px;
	height: 100vh;
	position: relative;
	@media screen and (max-width: 1399px) {
		padding: 60px 30vw 60px 100px;
	}
	@media screen and (max-width: 1199px) {
		padding: 50px 30vw 50px 60px;
	}
	@media screen and (max-width: 767px) {
		padding: 45px 25vw 45px 30px;
	}
	@media screen and (max-width: 575px) {
		padding: 40px 20vw 40px 12px;
	}
	.mady-bg-img {
		width: 28vw;
		height: 100%;
		position: absolute;
		right: 0;
		top: 0;
		@media screen and (max-width: 767px) {
			width: 23vw;
		}
		@media screen and (max-width: 575px) {
			width: 18vw;
		}
		img {
			height: 100%;
			width: 100%;
			object-fit: cover;
			transition: all 2s ease-in-out;
		}
		&.mady-template-animation.loaded {
            >img {
              border-radius: 100px 0 0 100px;
            }
        }
	}
	.mady-header {
		text-align: center;
	}
	.mady-main-body {
		max-width: 720px;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		.mady-content {
			width: 100%;
		}
		.mady-title {
			font-size: 80px;
			font-weight: 500;
			margin-bottom: 20px;
			line-height: 1.25;
			@media screen and (max-width: 1399px) {
				font-size: 70px;
			}
			@media screen and (max-width: 1199px) {
				font-size: 60px;
			}
			@media screen and (max-width: 991px) {
				font-size: 50px;
			}
			@media screen and (max-width: 767px) {
				font-size: 40px;
				margin-bottom: 15px;
			}
			@media screen and (max-width: 575px) {
				font-size: 30px;
				margin-bottom: 10px;
			}
		}
		.mady-description {
			font-size: 22px;
			font-weight: 600;
			color: #20282D;
			margin-bottom: 50px;
			@media screen and (max-width: 991px) {
				font-size: 20px;
			}
			@media screen and (max-width: 767px) {
				font-size: 18px;
				margin-bottom: 40px;
			}
			@media screen and (max-width: 575px) {
				font-size: 16px;
				margin-bottom: 30px;
			}
		}
		.mady-form-area {	
			width: 100%;		
			.form-group {
				display: inline-flex;
				align-items: center;
				border: 1px solid #BEBEBE;
				padding: 5px;
				width: 100%;
				input::-ms-input-placeholder {
					color: #20282D;
				}			  
				input::placeholder {
					color: #20282D;
				}
				.mady-email-input {
					margin-bottom: 0;
					border: 0;
					flex: 1;
					@media screen and (max-width: 767px) {
						border: 1px solid #BEBEBE;
					}
				}
				@media screen and (max-width: 767px) {
					flex-direction: column;
					border: 0;
					padding: 0;
				}
			}
			.form-control {
				padding: 10px 30px;
				border: 1px solid;
				border-color: #BEBEBE;
				background-color: #ffffff;
				margin-bottom: 20px;
				border-radius: 5px;
				font-size: 16px;
				color: var(--color-title);
				transition: all 0.3s ease-in-out;			
				&:focus {
					border-color: #20282D;
					box-shadow: none;
				}
			}
			input.form-control {
				min-height: 68px;
				@media screen and (max-width: 991px) {
					min-height: 55px;
				}
				@media screen and (max-width: 767px) {
					min-height: 50px;
				}
			}
			.mady-btn-fill {
				position: relative;
				z-index: 1;
				overflow: hidden;
				height: 68px;
				cursor: pointer;
				display: inline-block;
				font-size: 18px;
				font-weight: 600;
				box-shadow: none;
				outline: none;
				border: 1px solid var(--color-primary-1);
				color: #fff;
				border-radius: 5px;
				background-color: var(--color-primary-1);
				padding: 10px 36px;
				transition: all 0.3s ease-in-out;
				&:before {
					content: '';
					position: absolute;
					top: 50%;
					left: 50%;
					width: 800%;
					height: 800%;
					background-color: #ffffff;
					z-index: -1;
					transform: translate(-50%, -50%) rotate(45deg) scale(0);
					transition: all 0.3s ease-in-out;
				}
				@media screen and (max-width: 991px) {
					height: 55px;
					font-size: 17px;
				}
				@media screen and (max-width: 767px) {
					height: 50px;
					font-size: 16px;
					width: 100%;
					margin-top: 10px;
				}
				&:hover {
					color: var(--color-primary-1);
					&:before {
						transform: translate(-50%, -50%) rotate(45deg) scale(1);
					}
				}			
			}
		}
	}
}
