/*========================================================================
4. Demo Layout One
=========================================================================*/
.mady-template-layout1 {
    height: 100%;
    position: relative;
    display: flex;
    justify-content: flex-end;
	@media screen and (max-width: 991px) {
		display: block;
	}
    .mady-bg-img {
		overflow: hidden;
        height: 100vh;
        width: 63%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
		@media screen and (max-width: 1500px) {
			width: 55%;
		}
		@media screen and (max-width: 1199px) {
			width: 50%;
		}
		@media screen and (max-width: 991px) {
			width: 100%;
			position: inherit;
		}
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            transition: all 2s ease-in-out;
        }
        .mady-animated-shape {
            position: absolute;
            top: -1px;
            right: -1px;
            z-index: 2;
            transition: all 2s ease-in-out;
        }
        &.mady-template-animation {
            .mady-animated-shape {
                transform: scale3d(0, 0, 1);
                transform-style: preserve-3d;
                transform-origin: top right;
            }
        }
        &.mady-template-animation.loaded {
            >img {
              border-radius: 0 0 100px 0;
            }
            .mady-animated-shape {
                transform: scale3d(1, 1, 1);
            }
        }
    }
    .mady-content {
        padding: 50px 150px 50px 82px;
        width: 37%;
        min-height: 100vh;
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
		gap: 50px;
		@media screen and (max-width: 1500px) {
			width: 45%;
			padding: 45px 110px 45px 62px;
		}
		@media screen and (max-width: 1199px) {
			width: 50%;
			padding: 40px 90px 40px 52px;
		}
		@media screen and (max-width: 991px) {
			width: 100%;
			padding: 80px 150px;
		}
		@media screen and (max-width: 767px) {
			padding: 60px 50px;
		}
		@media screen and (max-width: 575px) {
			padding: 40px 24px;
		}
		.mady-header {
			text-align: center;
		}
    }
    .mady-form-area {
		.mady-title {
			margin-bottom: 25px;
		}
		.mady-description {
			font-weight: 600;
			line-height: 2;
		}
		.mady-login-option {			
			width: 100%;
			height: 60px;			
			@media screen and (max-width: 991px) {
				height: 55px;
			}
			@media screen and (max-width: 767px) {
				height: 50px;
			}
			a {
				font-size: 15px;
				font-weight: 600;
				border: 1px solid;
				border-color: #DED9D9;
				border-radius: 3px;
				background-color: #F6F6F6;
				width: 100%;
				height: 100%;
				color: var(--color-title);
				display: flex;
				align-items: center;
				justify-content: center;
				gap: 15px;
				transition: all 0.3s ease-in-out;
				.icon-holder {
					line-height: 1;
				}
				&:hover {
					border-color: #ffffff;
					background-color: #ffffff;
					box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.10);
				}
			}
		}
		.mady-divider-area {
			display: flex;
			align-items: center;
			margin-top: 25px;
			margin-bottom: 15px;
			.mady-divider-line {
				height: 1px;
				width: 100%;
				background-color: #D9D9D9;
			}
			.mady-divider-text {
				margin: 0 20px;
				font-size: 15px;
				color: var(--color-title);
			}
		}
		.mady-input-label {
			font-size: 15px;
			color: var(--color-title);
			font-weight: 600;
			margin-bottom: 10px;
		}
		.form-group {
			.icon-holder {
				position: absolute;
				z-index: 1;
				right: 15px;
				top: 50%;
				-webkit-transform: translateY(-50%);
				-ms-transform: translateY(-50%);
				transform: translateY(-50%);
				display: block;
				background-color: transparent;
				border: 0;
				color: #9D9FAC;
			}
			input::-ms-input-placeholder {
				color: #d1d1d1;
			}			  
			input::placeholder {
				color: #d1d1d1;
			}
		}
		.form-control {
			height: 60px;
			border: 1px solid;
			border-color: #F1F1F1;
			background-color: #ffffff;
			// box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.05);
			margin-bottom: 20px;
			font-size: 16px;
			color: var(--color-title);
			transition: all 0.3s ease-in-out;
			@media screen and (max-width: 991px) {
				height: 55px;
			}
			@media screen and (max-width: 767px) {
				height: 50px;
			}
			&:focus {
				border-color: #20282D;
				box-shadow: none;
			}
		}
		.mady-btn-fill {
			position: relative;
			z-index: 1;
			overflow: hidden;
			height: 60px;
			cursor: pointer;
			display: inline-block;
			font-size: 18px;
			font-weight: 600;
			box-shadow: none;
			outline: none;
			border: 1px solid var(--color-primary-1);
			color: #fff;
			border-radius: 3px;
			background-color: var(--color-primary-1);
			padding: 10px 36px;
			width: 100%;
			transition: all 0.3s ease-in-out;
			&:before {
				content: '';
				position: absolute;
				top: 50%;
				left: 50%;
				width: 800%;
				height: 800%;
				background-color: #ffffff;
				z-index: -1;
				transform: translate(-50%, -50%) rotate(45deg) scale(0);
				transition: all 0.3s ease-in-out;
			}
			@media screen and (max-width: 991px) {
				height: 55px;
			}
			@media screen and (max-width: 767px) {
				height: 50px;
			}
			&:hover {
				color: var(--color-primary-1);
				&:before {
					transform: translate(-50%, -50%) rotate(45deg) scale(1);
				}
			}
			// height: 60px;
			// width: 100%;
			// position: relative;
			// z-index: 1;
			// display: inline-block;
			// padding: 10px 36px;
			// font-size: 18px;
			// font-weight: 600;
			// background: linear-gradient(90deg, #F63939 0%, #f65858 100%);
			// border: none;
			// cursor: pointer;
			// overflow: hidden;
			// box-shadow: none;
			// outline: none;
			// border: 1px solid var(--color-primary-1);
			// color: #ffffff;
			// border-radius: 3px;
			// transition: color 0.3s ease-in-out;
			// @media screen and (max-width: 991px) {
			// 	height: 55px;
			// }
			// @media screen and (max-width: 767px) {
			// 	height: 50px;
			// }
			// &:before {
			// 	content: '';
			// 	position: absolute;
			// 	top: 0;
			// 	left: 0;
			// 	width: 100%;
			// 	height: 100%;
			// 	background: #ffffff;
			// 	z-index: -1;
			// 	transform: scaleX(0);
			// 	transform-origin: top;
			// 	transition: transform 0.3s ease-in-out;
			// }
			// &:hover {
			// 	color: var(--color-primary-1);
			// 	&:before {
			// 		transform: scaleX(1);
    		// 		transform-origin: bottom;
			// 	}
			// }
		}
		.mady-checkbox {
			margin-top: 25px;
		}
		.form-check-input {
			border-color: transparent;
			background-color: transparent;
			&:focus {
				box-shadow: none;
				outline: none;
			}
		}		
		.form-check-label {
			font-size: 18px;
			padding-left: 2px;
			position: relative;
			&:before {
				content: "";
				position: absolute;
				width: 16px;
				height: 16px;
				top: 4px;
				left: -15px;
				margin-left: -5px;
				border: 1px solid;
				border-color: #dddddd;
				border-radius: 3px;
				background-color: transparent;
				transition: all 0.3s ease-in-out;
			}
			&:after {
				font-family: 'Font Awesome 6 Pro';
				content: "\f00c";
				font-weight: 900;
				position: absolute;
				margin-left: -20px;
				padding-left: 3px;
				font-size: 10px;
				color: #ffffff;
				left: 1px;
				top: 5px;
				opacity: 0;
				visibility: hidden;
				transition: all 0.3s ease-in-out;
			}
			a {
				color: #20282D;
				transition: all 0.3s ease-in-out;
				&:hover {
					color: var(--color-primary-1);
				}
			}
		}
		.form-check-input[type="checkbox"]:checked + .form-check-label:after {
			opacity: 1;
			visibility: visible;			
		}
		.form-check-input[type="checkbox"]:checked + .form-check-label:before {
			background-color: var(--color-primary-1);
    		border-color: var(--color-primary-1);
		}
    }
	.mady-forgot-text {
		margin-top: 35px;
		font-size: 18px;		
		display: block;
		text-align: center;
		a {
			color: var(--color-body);
			transition: all 0.3s ease-in-out;
			&:hover {
				color: #000000;
			}
		}
	}
	.mady-footer {
		display: flex;
		align-items: center;
		justify-content: space-around;
		gap: 12px;
		flex-wrap: wrap;
	}
	.mady-page-switcher {
		font-size: 15px;
		display: flex;
		gap: 5px;
		align-items: center;
		flex-wrap: wrap;
		margin-bottom: 0;
		a {
			color: var(--color-title);
			transition: all 0.3s ease-in-out;
			&:hover {
				color: var(--color-primary-1);
				text-decoration: underline;
			}
		}
	}
    .mady-input-row {
        display: flex;
        gap: 11px;
        flex-wrap: wrap;
        .mady-input-col {
            padding: 10px 5px;
            text-align: center;
            flex-basis: 0;
            flex-grow: 1;
        }
    }
	.mady-socials {
		display: flex;
		align-items: center;
		gap: 5px;
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			a {
				height: 30px;
				width: 30px;
				border: 1px solid;
				border-color: #B9B9B9;
				border-radius: 50%;
				display: flex;
				align-items: center;
				justify-content: center;
				color: #B9B9B9;
				font-size: 10px;
				transition: all 0.3s ease-in-out;
				&:hover {
					color: #ffffff;					
				}
				&.mady-facebook {
					&:hover {
						border-color: var(--facebook);
						background-color: var(--facebook);
					}
				}
				&.mady-linkedin {
					&:hover {
						border-color: var(--linkedin);
						background-color: var(--linkedin);
					}
				}
				&.mady-twitter {
					&:hover {
						border-color: var(--twitter);
						background-color: var(--twitter);
					}
				}
				&.mady-instagram {
					&:hover {
						border-color: var(--instagram);
						background-color: var(--instagram);
					}
				}
			}
		}
	}
	.mady-resend-code {
		margin-top: 30px;
		.mady-resennd-trigger {
			color: #20282D;
			transition: all 0.3s ease-in-out;
			&:hover {
				color: var(--color-primary-1);
			}
		}
	}
}

/*========================================================================
4. Demo Layout One
=========================================================================*/
.mady-template-layout2 {
    height: 100%;
    position: relative;
    display: flex;
    justify-content: flex-end;
	@media screen and (max-width: 991px) {
		display: block;
	}
    .mady-bg-img {
        height: 100vh;
        width: 54%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
		@media screen and (max-width: 1500px) {
			width: 50%;
		}
		@media screen and (max-width: 1199px) {
			width: 45%;
		}
		@media screen and (max-width: 991px) {
			width: 100%;
			position: inherit;
		}
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            transition: all 2s ease-in-out;
        }
        .mady-animated-shape {
            position: absolute;
            top: -1px;
            right: -1px;
            z-index: 2;
            transition: all 2s ease-in-out;
        }
        &.mady-template-animation {
            img {
				filter: blur(20px);
			}
        }
        &.mady-template-animation.loaded {
            img {
				filter: blur(0);
			}
        }
    }
    .mady-content {
        padding: 60px 160px 60px 234px;
        width: 46%;
        min-height: 100vh;
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
		gap: 50px;
		@media screen and (max-width: 1500px) {
			width: 50%;
			padding: 50px 100px 50px 134px;
		}
		@media screen and (max-width: 1199px) {
			width: 55%;
			padding: 30px 70px 30px 80px;
		}
		@media screen and (max-width: 991px) {
			width: 100%;
			padding: 80px 150px;
		}
		@media screen and (max-width: 767px) {
			padding: 60px 50px;
		}
		@media screen and (max-width: 575px) {
			padding: 40px 24px;
		}
		.mady-header {
			text-align: center;
		}
    }
    .mady-form-area {
		.mady-title {
			margin-bottom: 15px;
		}
		.mady-description {
			margin-bottom: 35px;
		}
		.mady-login-option-wrap {
			display: flex;
			flex-direction: column;
			gap: 20px;
		}
		.mady-login-option {
			width: 100%;
			height: 60px;
			a {
				font-size: 15px;
				font-weight: 600;
				border: 1px solid;
				border-color: #DED9D9;
				border-radius: 3px;
				background-color: #F6F6F6;
				width: 100%;
				height: 100%;
				color: var(--color-title);
				display: flex;
				align-items: center;
				justify-content: center;
				gap: 15px;
				transition: all 0.3s ease-in-out;
				.icon-holder {
					line-height: 1;
				}
				&:hover {
					border-color: #ffffff;
					background-color: #ffffff;
					box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.10);
				}
			}
		}
		.mady-divider-area {
			display: flex;
			align-items: center;
			margin-bottom: 25px;
			margin-top: 20px;
			.mady-divider-line {
				height: 1px;
				width: 100%;
				background-color: #D9D9D9;
			}
			.mady-divider-text {
				margin: 0 20px;
				font-size: 15px;
				color: var(--color-title);
			}
		}
		.mady-input-label {
			font-size: 15px;
			color: var(--color-title);
			font-weight: 500;
			margin-bottom: 10px;
		}
		.form-group {
			.icon-holder {
				position: absolute;
				z-index: 1;
				left: 20px;
				top: 50%;
				-webkit-transform: translateY(-50%);
				-ms-transform: translateY(-50%);
				transform: translateY(-50%);
				display: block;
				background-color: transparent;
				border: 0;
				color: #9D9FAC;
			}
			.eye-trigger {
				position: absolute;
				z-index: 1;
				right: 20px;
				top: 50%;
				-webkit-transform: translateY(-50%);
				-ms-transform: translateY(-50%);
				transform: translateY(-50%);
				display: block;
				background-color: transparent;
				border: 0;
				color: #9D9FAC;
			}
			.strong-password {
				position: relative;
				margin-top: 35px;
				.progress-bar-wrap {
					height: 2px;
					background-color: #D9D9D9;
					width: 100%;
					.progress-bar {
						height: 2px;
					}
					.progress-bar-text {
						margin-bottom: 4px;
						position: absolute;
						bottom: 100%;
						right: 0;
						font-size: 12px;
						color: #396EF6;
					}
				}
				p {
					margin-top: 10px;
				}
			}
			input::-ms-input-placeholder {
				color: #d1d1d1;
			}
			  
			input::placeholder {
				color: #d1d1d1;
			}
		}
		.form-control {
			height: 60px;
			border: 2px solid;
			border-color: #F1F4F7;
			background-color: #F1F4F7;
			margin-bottom: 20px;
			font-size: 16px;
			color: var(--color-title);
			padding: 5px 20px 5px 50px;
			transition: all 0.3s ease-in-out;
			&:focus {
				background-color: transparent;
				box-shadow: none;
			}
		}
		.mady-btn-fill {
			position: relative;
			z-index: 1;
			overflow: hidden;
			height: 60px;
			cursor: pointer;
			display: inline-block;
			font-size: 18px;
			font-weight: 600;
			box-shadow: none;
			outline: none;
			border: 1px solid var(--color-primary-2);
			color: #ffffff;
			border-radius: 3px;			
			padding: 10px 36px;
			width: 100%;
			transition: all 0.3s ease-in-out;
			&:before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: var(--color-primary-2);
				z-index: -1;
				transition: all 0.3s ease-in-out;
			}
			&:hover {
				color: var(--color-primary-2);
				&:before {
					transform: translateY(100%);
				}
			}
		}
    }
	.mady-forgot-text {
		margin-top: 27px;
		font-size: 18px;		
		display: block;
		text-align: center;
		a {
			color: #3461FF;
			transition: all 0.3s ease-in-out;
			&:hover {
				color: #000000;
			}
		}
	}
	.mady-footer {
		display: flex;
		align-items: center;
		justify-content: space-around;
		gap: 12px;
		flex-wrap: wrap;
	}
	.mady-page-switcher {
		font-size: 15px;
		display: flex;
		gap: 5px;
		align-items: center;
		flex-wrap: wrap;
		margin-bottom: 0;
		a {
			color: var(--color-primary-2);
			&:hover {
				text-decoration: underline;
			}
		}
	}
    .mady-input-row {
        display: flex;
        gap: 11px;
        flex-wrap: wrap;
        .mady-input-col {
            padding: 10px 5px;
            text-align: center;
            flex-basis: 0;
            flex-grow: 1;
        }
    }
	.mady-resend-code {
		margin-top: 30px;
		.mady-resennd-trigger {
			color: #20282D;
			transition: all 0.3s ease-in-out;
			&:hover {
				color: var(--color-primary-2);
			}
		}
	}
}

/*========================================================================
4. Demo Layout One
=========================================================================*/
.mady-template-layout3 {
	min-height: 100vh;
	// height: 100%;
    position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
    .mady-bg-img {
		height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: -2;
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    .mady-content {
		padding: 50px 30px;
		// position: absolute;
		// z-index: 2;
		// top: 0;
		// bottom: 0;
		// left: 50%;
		// transform: translateX(-50%);
		width: 696px; 
        display: flex;
        flex-direction: column;
        justify-content: space-between;
		gap: 50px;
		@media only screen and (max-width: 767px) {
			gap: 40px;
			padding: 40px 20px;
		}
		@media only screen and (max-width: 575px) {
			gap: 30px;
			padding: 30px 15px;
		}
		@media only screen and (max-width: 479px) {
			gap: 20px;
			padding: 20px 12px;
		}
    }
	.mady-header {
		text-align: center;
	}
    .mady-form-area {
		padding: 70px 80px 80px;
		background-color: #ffffff;
		border-radius: 25px;
		@media only screen and (max-width: 767px) {
			padding: 60px 50px 70px;
		}
		@media only screen and (max-width: 575px) {
			padding: 50px 40px 60px;
		}
		@media only screen and (max-width: 479px) {
			padding: 40px 30px 50px;
		}
		.mady-title {
			margin-bottom: 15px;
		}
		.mady-description {
			margin-bottom: 35px;
		}
		.mady-login-option-wrap {
			display: flex;
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;
			-webkit-box-pack: center;
			-ms-flex-pack: center;
			justify-content: center;
			margin-right: -10px;
			margin-left: -10px;
		}
		.mady-login-option {
			display: inline-block;
			flex: 0 0 50%;
			max-width: 50%;
			padding-left: 10px;
			padding-right: 10px;
			margin-top: 20px;
			@media only screen and (max-width: 767px) {
				flex: 0 0 100%;
				max-width: 100%;
			}			
			a {
				font-size: 15px;
				font-weight: 600;
				width: 100%;
				height: 60px;
				border: 1px solid;
				border-color: #DED9D9;
				border-radius: 45px;
				background-color: #F6F6F6;
				padding: 5px 15px;
				color: var(--color-title);
				display: flex;
				align-items: center;
				justify-content: center;
				gap: 10px;
				transition: all 0.3s ease-in-out;
				.icon-holder {
					line-height: 1;
				}
				&:hover {
					border-color: #ffffff;
					background-color: #ffffff;
					box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.10);
				}
			}
		}
		.mady-divider-area {
			display: flex;
			align-items: center;
			margin-top: 20px;
			.mady-divider-line {
				height: 1px;
				width: 100%;
				background-color: #D9D9D9;
			}
			.mady-divider-text {
				margin: 0 20px;
				font-size: 15px;
				color: var(--color-title);
			}
		}
		.mady-input-label {
			font-size: 15px;
			color: var(--color-title);
			font-weight: 500;
			margin-bottom: 10px;
		}
		.form-group {
			.icon-holder {
				position: absolute;
				z-index: 1;
				left: 20px;
				top: 50%;
				-webkit-transform: translateY(-50%);
				-ms-transform: translateY(-50%);
				transform: translateY(-50%);
				display: block;
				background-color: transparent;
				border: 0;
				color: #9D9FAC;
			}
			.eye-trigger {
				position: absolute;
				z-index: 1;
				right: 20px;
				top: 50%;
				-webkit-transform: translateY(-50%);
				-ms-transform: translateY(-50%);
				transform: translateY(-50%);
				display: block;
				background-color: transparent;
				border: 0;
				color: #9D9FAC;
			}
			.strong-password {
				position: relative;
				margin-top: 35px;
				.progress-bar-wrap {
					height: 2px;
					background-color: #D9D9D9;
					width: 100%;
					.progress-bar {
						height: 2px;
					}
					.progress-bar-text {
						margin-bottom: 4px;
						position: absolute;
						bottom: 100%;
						right: 0;
						font-size: 12px;
						color: #396EF6;
					}
				}
				p {
					margin-top: 10px;
				}
			}
			input::-ms-input-placeholder {
				color: #d1d1d1;
			}
			  
			input::placeholder {
				color: #d1d1d1;
			}
		}
		.form-control {
			height: 60px;
			border: 2px solid;
			border-color: #F1F4F7;
			background-color: #F1F4F7;
			margin-bottom: 20px;
			font-size: 16px;
			color: var(--color-title);
			padding: 5px 20px 5px 50px;
			border-radius: 45px;
			transition: all 0.3s ease-in-out;
			&:focus {
				background-color: transparent;
				border-color: #F1F4F7;
				box-shadow: none;
			}
		}
		.mady-btn-fill {
			// font-family: 'Roboto', sans-serif;
			height: 60px;
			cursor: pointer;
			display: inline-block;
			font-size: 18px;
			font-weight: 600;
			box-shadow: none;
			outline: none;
			border: 1px solid var(--color-primary-3);
			color: #fff;
			border-radius: 45px;
			background-color: var(--color-primary-3);
			padding: 10px 36px;
			width: 100%;
			margin-bottom: 0;
			transition: all 0.3s ease-in-out;
			&:hover {
				background-color: transparent;
				color: var(--color-primary-3);
			}
		}
    }
	.mady-forgot-text {
		margin-top: 25px;
		font-size: 18px;		
		display: block;
		text-align: center;
		a {
			color: #3461FF;
			transition: all 0.3s ease-in-out;
			&:hover {
				color: #000000;
			}
		}
	}
	.mady-footer {
		text-align: center;
	}
	.mady-page-switcher {
		font-size: 15px;
		display: inline-flex;
		gap: 5px;
		align-items: center;
		flex-wrap: wrap;
		margin-bottom: 0;
		color: #ffffff;
		a {
			color: #ffffff;
			text-decoration: underline;
			transition: all 0.3s ease-in-out;
			&:hover {
				color: var(--color-primary-3);
			}
		}
	}
    .mady-input-row {
        display: flex;
        gap: 30px;
        flex-wrap: wrap;
        .mady-input-col {
            padding: 10px 5px;
            text-align: center;
            flex-basis: 0;
            flex-grow: 1;
        }
    }
	.mady-resend-code {
		margin-top: 30px;
		.mady-resennd-trigger {
			color: #20282D;
			transition: all 0.3s ease-in-out;
			&:hover {
				color: var(--color-primary-3);
			}
		}
	}	
	.mady-video-background {
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		position: absolute;
		z-index: 0;
	}

}
/*========================================================================
4. Demo Layout One
=========================================================================*/
.mady-template-layout4 {
	background-color: #F0F0F0;
	min-height: 100vh;
	// height: 100%;
    position: relative;
	z-index: 1;
	// display: flex;
	// align-items: center;
	// justify-content: center;
    .mady-shape-wrap {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		z-index: -1;
		overflow: hidden;
		@media only screen and (max-width: 991px) {
			display: none;
		}
		.mady-shape-holder {
			position: absolute;
			transition: all 1s ease-in-out;
		}
		.mady-shape-1 {
			top: 40%;
			left: 0;
		}
		.mady-shape-2 {
			top: 20%;
			right: 0;
		}
		.mady-shape-3 {
			bottom: 0;
			left: 0;
		}
		.mady-shape-4 {
			bottom: 0;
			right: 0;
		}
		&.mady-template-animation {
			.mady-shape-1 {
				transform: translate(-100%, 0);
				transition-delay: 0;
			}
			.mady-shape-2 {
				transform: translate(100%, 0);
				transition-delay: 0.2s;
			}
			.mady-shape-3 {
				transform: translate(-100%, 100%);
				transition-delay: 0.3s;
			}
			.mady-shape-4 {
				transform: translate(100%, 100%);
				transition-delay: 0.4s;
			}
		}
		&.mady-template-animation.loaded {
			.mady-shape-1,
			.mady-shape-2,
			.mady-shape-3,
			.mady-shape-4 {
				transform: translate(0, 0);
			}
		}
	}
	.mady-header {
		padding: 50px 100px 5px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
	}
    .mady-content {
		padding: 30px;
		// position: absolute;
		// z-index: 2;
		// top: 0;
		// bottom: 0;
		// left: 50%;
		// transform: translateX(-50%);
		width: 100%;
        display: flex;
        justify-content: center;
		align-items: center;
    }	
    .mady-form-area {
		position: relative;
		border-radius: 50px;
		width: 750px; 
		padding: 100px;
		background-color: #ffffff;
		box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.06);
		@media only screen and (max-width: 991px) {
			padding: 90px;
			border-radius: 45px;
		}
		@media only screen and (max-width: 767px) {
			padding: 70px;
			border-radius: 35px;
		}
		@media only screen and (max-width: 575px) {
			padding: 50px;
			border-radius: 25px;
		}
		@media only screen and (max-width: 479px) {
			padding: 30px;
			border-radius: 15px;
		}
		.mady-page-icon {
			height: 140px;
			width: 140px;
			font-size: 40px;			
			border-radius: 50%;
			position: absolute;
			top: -70px;
			left: 50%;
			transform: translateX(-50%);
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: #ffffff;
			color: var(--color-primary-4);
			box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.01);
			i {
				font-weight: 400;
			}
			@media only screen and (max-width: 991px) {
				height: 120px;
				width: 120px;
				font-size: 36px;
				top: -60px;	
			}
			@media only screen and (max-width: 767px) {
				height: 100px;
				width: 100px;
				font-size: 32px;
				top: -50px;
			}
			@media only screen and (max-width: 575px) {
				height: 80px;
				width: 80px;
				font-size: 28px;
				top: -40px;
			}
			@media only screen and (max-width: 479px) {
				height: 60px;
				width: 60px;
				font-size: 24px;
				top: -30px;
			}
		}
		.mady-title {
			margin-bottom: 15px;
			text-align: center;
		}
		.mady-description {
			text-align: center;
			max-width: 404px;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 35px;
		}
		.mady-login-option-wrap {
			display: flex;
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;
			-webkit-box-pack: center;
			-ms-flex-pack: center;
			justify-content: center;
			margin-right: -12px;
			margin-left: -12px;
		}
		.mady-login-option {
			display: inline-block;
			flex: 0 0 50%;
			max-width: 50%;
			padding-left: 12px;
			padding-right: 12px;
			margin-top: 24px;
			@media only screen and (max-width: 767px) {
				flex: 0 0 100%;
				max-width: 100%;
			}			
			a {
				border: 1px solid;
				border-color: #F1F4F7;
				border-radius: 5px;
				background-color: #F1F4F7;
				font-size: 15px;
				font-weight: 600;
				padding: 5px 18px;
				height: 60px;
				width: 100%;
				color: var(--color-title);
				display: flex;
				align-items: center;
				justify-content: center;
				gap: 10px;
				transition: all 0.3s ease-in-out;
				.icon-holder {
					line-height: 1;
				}
				&:hover {
					border-color: #ffffff;
					background-color: #ffffff;
					box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.10);
				}
			}
		}
		.mady-divider-area {
			display: flex;
			align-items: center;
			margin-bottom: 35px;
			.mady-divider-line {
				height: 1px;
				width: 100%;
				background-color: #D9D9D9;
			}
			.mady-divider-text {
				margin: 0 20px;
				font-size: 15px;
				color: var(--color-title);
			}
		}		
		.mady-input-label {
			font-size: 15px;
			color: var(--color-title);
			font-weight: 500;
			margin-bottom: 10px;
		}
		.form-group {
			.icon-holder {
				position: absolute;
				z-index: 1;
				left: 20px;
				top: 50%;
				-webkit-transform: translateY(-50%);
				-ms-transform: translateY(-50%);
				transform: translateY(-50%);
				display: block;
				background-color: transparent;
				border: 0;
				color: #9D9FAC;
			}
			.eye-trigger {
				position: absolute;
				z-index: 1;
				right: 20px;
				top: 50%;
				-webkit-transform: translateY(-50%);
				-ms-transform: translateY(-50%);
				transform: translateY(-50%);
				display: block;
				background-color: transparent;
				border: 0;
				color: #9D9FAC;
			}
			.strong-password {
				position: relative;
				margin-top: 35px;
				.progress-bar-wrap {
					height: 2px;
					background-color: #D9D9D9;
					width: 100%;
					.progress-bar {
						height: 2px;
					}
					.progress-bar-text {
						margin-bottom: 4px;
						position: absolute;
						bottom: 100%;
						right: 0;
						font-size: 12px;
						color: #396EF6;
					}
				}
				p {
					margin-top: 10px;
				}
			}
			input::-ms-input-placeholder {
				color: #d1d1d1;
			}			  
			input::placeholder {
				color: #d1d1d1;
			}
		}
		.form-control {
			height: 60px;
			border: 1px solid;
			border-color: #F1F4F7;
			background-color: #F1F4F7;
			box-shadow: none;
			margin-bottom: 20px;
			font-size: 16px;
			color: var(--color-title);
			padding: 15px 30px 5px;
			border-radius: 5px;
			transition: all 0.3s ease-in-out;
			&:focus {
				background-color: transparent;
				border-color: #E6E7E8;
				+ .mady-placeholder {
					transform: translateY(-30px);
					color: #5F4ADE;
					opacity: 1;
					font-size: 14px;
				}
			}
		}
		.mady-placeholder {
			position: absolute;
			top: 50%;
			left: 30px;
			transform: translateY(-50%);
			color: #74787C;
			font-size: 16px;
			pointer-events: none;
			transition: all 0.3s ease-in-out;
		}
		.mady-btn-fill {
			// font-family: 'Roboto', sans-serif;
			height: 60px;
			cursor: pointer;
			display: inline-block;
			font-size: 18px;
			font-weight: 600;
			box-shadow: none;
			outline: none;
			border: 1px solid var(--color-primary-4);
			color: #fff;
			border-radius: 5px;
			background-color: var(--color-primary-4);
			padding: 10px 36px;
			width: 100%;
			margin-bottom: 0;
			transition: all 0.3s ease-in-out;
			&:hover {
				background-color: transparent;
				color: var(--color-primary-4);
			}
		}
		.form-check-input {
			border-color: transparent;
			background-color: transparent;
			&:focus {
				box-shadow: none;
				outline: none;
			}
		}
		.form-check-label {
			padding-left: 2px;
			color: #20282D;
			position: relative;
			&:before {
				content: "";
				position: absolute;
				width: 16px;
				height: 16px;
				top: 4px;
				left: -15px;
				margin-left: -5px;
				border: 1px solid;
				border-color: #dddddd;
				border-radius: 3px;
				background-color: transparent;
				transition: all 0.3s ease-in-out;
			}
			&:after {
				font-family: 'Font Awesome 6 Pro';
				content: "\f00c";
				font-weight: 900;
				position: absolute;
				margin-left: -20px;
				padding-left: 3px;
				font-size: 10px;
				color: #ffffff;
				left: 1px;
				top: 5px;
				opacity: 0;
				visibility: hidden;
				transition: all 0.3s ease-in-out;
			}
		}
		.form-check-input[type="checkbox"]:checked + .form-check-label:after {
			opacity: 1;
			visibility: visible;			
		}
		.form-check-input[type="checkbox"]:checked + .form-check-label:before {
			background-color: var(--color-primary-4);
    		border-color: var(--color-primary-4);
		}
		.mady-forgot-text {
			font-size: 15px;		
			display: block;
			text-align: center;
			a {
				color: #20282D;
				transition: all 0.3s ease-in-out;
				&:hover {
					color: #000000;
				}
			}
		}
    }
	.mady-page-switcher {
		font-size: 15px;
		display: inline-flex;
		gap: 5px;
		align-items: center;
		flex-wrap: wrap;
		margin-bottom: 0;
		color: #20282D;
		a {
			color: #20282D;
			font-weight: 600;
			text-decoration: underline;
			transition: all 0.3s ease-in-out;
			&:hover {
				color: var(--color-primary-4);
			}
		}
	}
    .mady-input-row {
        display: flex;
        gap: 30px;
        flex-wrap: wrap;
        .mady-input-col {
            padding: 10px 5px;
            text-align: center;
            flex-basis: 0;
            flex-grow: 1;
        }
    }
	.mady-resend-code {
		margin-top: 30px;
		.mady-resennd-trigger {
			color: #20282D;
			transition: all 0.3s ease-in-out;
			&:hover {
				color: var(--color-primary-4);
			}
		}
	}	
}

/*========================================================================
4. Demo Layout One
=========================================================================*/
.mady-template-layout5 {
	min-height: 100vh;
	// height: 100%;
    position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
    .mady-bg-img {
		height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: -2;
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    .mady-content {
		padding: 50px 30px;
		// position: absolute;
		// z-index: 2;
		// top: 0;
		// bottom: 0;
		// left: 50%;
		// transform: translateX(-50%);
		width: 696px; 
        display: flex;
        flex-direction: column;
        justify-content: space-between;
		gap: 50px;
    }
	.mady-header {
		text-align: center;
	}
    .mady-form-area {
		padding: 80px;
		background-color: #110E0E;
		border-radius: 25px;
		@media only screen and (max-width: 767px) {
			padding: 50px;
		}
		@media only screen and (max-width: 575px) {
			padding: 40px;
		}
		@media only screen and (max-width: 479px) {
			padding: 30px;
		}
		.mady-title {
			text-align: center;
			margin-bottom: 15px;
			color: #ffffff;
		}
		.mady-description {
			color: #A8ABAD;
			text-align: center;
			max-width: 364px;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 35px;
		}
		.mady-login-option-wrap {
			display: flex;
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;
			-webkit-box-pack: center;
			-ms-flex-pack: center;
			justify-content: center;
			margin-right: -6px;
			margin-left: -6px;
			margin-top: 10px;
		}
		.mady-login-option {
			display: inline-block;
			flex: 0 0 25%;
			max-width: 25%;
			padding-left: 6px;
			padding-right: 6px;
			margin-top: 12px;
			@media only screen and (max-width: 767px) {
				flex: 0 0 50%;
				max-width: 50%;
			}
			a {
				font-size: 15px;
				border: 1px solid;
				border-color: #262626;
				background-color: #262626;
				border-radius: 5px;
				padding: 5px 18px;
				height: 50px;
				width: 100%;
				color: #ffffff;
				display: flex;
				align-items: center;
				justify-content: center;
				gap: 10px;
				transition: all 0.3s ease-in-out;
				&.mady-facebook {
					&:hover {
						background-color: var(--facebook);
					}
				}
				&.mady-google {
					&:hover {
						background-color: var(--google);
					}
				}
				&.mady-twitter {
					&:hover {
						background-color: var(--twitter);
					}
				}
				&.mady-linkedin {
					&:hover {
						background-color: var(--linkedin);
					}
				}
			}
		}
		.mady-divider-area {
			display: flex;
			align-items: center;
			margin-bottom: 35px;
			.mady-divider-line {
				height: 1px;
				width: 100%;
				background-color: #D9D9D9;
			}
			.mady-divider-text {
				margin: 0 20px;
				font-size: 15px;
				color: var(--color-title);
			}
		}
		.mady-input-label {
			font-size: 15px;
			font-weight: 500;
			margin-bottom: 10px;
		}
		.form-group {
			.icon-holder {
				position: absolute;
				z-index: 1;
				left: 20px;
				top: 50%;
				-webkit-transform: translateY(-50%);
				-ms-transform: translateY(-50%);
				transform: translateY(-50%);
				display: block;
				background-color: transparent;
				border: 0;
				color: #575757;
			}
			.eye-trigger {
				position: absolute;
				z-index: 1;
				right: 20px;
				top: 50%;
				-webkit-transform: translateY(-50%);
				-ms-transform: translateY(-50%);
				transform: translateY(-50%);
				display: block;
				background-color: transparent;
				border: 0;
				color: #9D9FAC;
			}
			.strong-password {
				position: relative;
				margin-top: 35px;
				.progress-bar-wrap {
					height: 2px;
					background-color: #535151;
					width: 100%;
					.progress-bar {
						height: 2px;
					}
					.progress-bar-text {
						margin-bottom: 4px;
						position: absolute;
						bottom: 100%;
						right: 0;
						font-size: 12px;
						color: #A3A5A9;
					}
				}
				p {
					margin-top: 10px;
				}
			}
			input::-ms-input-placeholder {
				color: #575757;
			}
			  
			input::placeholder {
				color: #575757;
			}
		}
		.form-control {
			height: 60px;
			border: 1px solid;
			border-color: #5A5757;
			background-color: transparent;
			box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.05);
			margin-bottom: 20px;
			font-size: 16px;
			color: var(--color-title);
			padding: 5px 20px 5px 50px;
			border-radius: 5px;
			transition: all 0.3s ease-in-out;
			&:focus {
				background-color: #F1F4F7;
				border-color: #F1F4F7;
			}
		}
		.mady-btn-fill {
			// font-family: 'Roboto', sans-serif;
			height: 60px;
			cursor: pointer;
			display: inline-block;
			font-size: 18px;
			font-weight: 600;
			box-shadow: none;
			outline: none;
			border: 1px solid var(--color-primary-5);
			color: #fff;
			border-radius: 5px;
			background-color: var(--color-primary-5);
			padding: 10px 36px;
			width: 100%;
			margin-bottom: 0;
			transition: all 0.3s ease-in-out;
			&:hover {
				background-color: transparent;
			}
		}
		.form-check-input {
			border-color: #555555;
			background-color: transparent;
			&:focus {
				box-shadow: none;
				outline: none;
			}
		}
		.form-check-label {
			padding-left: 2px;
			color: #ffffff;
		}
		.mady-forgot-text {
			font-size: 15px;		
			display: block;
			text-align: center;
			a {
				color: #ffffff;
				transition: all 0.3s ease-in-out;
				&:hover {
					color: var(--color-primary-5);
				}
			}
		}
    }
	// .mady-forgot-text {
	// 	margin-top: 30px;
	// 	margin-bottom: 30px;
	// 	font-size: 18px;		
	// 	display: block;
	// 	text-align: center;
	// 	a {
	// 		color: var(--color-body);
	// 	}
	// }
	.mady-footer {
		text-align: center;
	}
	.mady-page-switcher {
		font-size: 15px;
		display: inline-flex;
		gap: 5px;
		align-items: center;
		flex-wrap: wrap;
		margin-bottom: 0;
		color: #ffffff;
		a {
			color: var(--color-primary-5);
			transition: all 0.3s ease-in-out;
			&:hover {
				text-decoration: underline;
			}
		}
	}
    .mady-input-row {
        display: flex;
        gap: 11px;
        flex-wrap: wrap;
        .mady-input-col {
            padding: 10px 5px;
            text-align: center;
            flex-basis: 0;
            flex-grow: 1;
        }
    }
	.mady-resend-code {
		p {
			color: #ffffff;
		}
		.mady-resennd-trigger {
			color: var(--color-primary-5);
			&:hover {
				text-decoration: underline;
			}
		}
	}	
}