/*-------------------------
    Variables
-------------------------*/
:root body.active-dark-mode {
    // Dark Mode Color
    --color-body: #c1c6c9;
}

:root {
    // Light Mode Color
    --color-body: #494e51;
    
    // Template Color
    --color-primary: #F75959;
    --color-primary-rgb: 247, 89, 89;
    
    
    // Social Color
    --facebook: #337FFF;
    --instagram: #d62976;
    --twitter: #33CCFF;
    --pinterest: #FF0000;
    --linkedin: #0072b1;
    --vimeo: #1AB7EA;
    --tiktok: #000000;
    --youtube: #FF0000;
    --dribbble: #444444;
    --mail-fast: #776CF2;   

    // Font Family
    --font-primary: 'Roboto', sans-serif;
    --font-secondary: 'Poppins', sans-serif;
    --font-icomoon: 'icomoon' !important;

    // Transition
    --transition: all 0.3s ease-in-out;
    --transition-menu: all 0.4s cubic-bezier(.30,.02,0,.60);
    --transition-slider: 1s cubic-bezier(0.45, 0.05, 0.15, 0.93) 0.15s;
    --transition-figure: all 0.5s cubic-bezier(0.23, 0.03, 0, 1.08);

    // Body Font Size
    --size-b1: 24px;

    @media (max-width: 767px) {
        --size-b1: 22px;
    }

    --size-b2: 20px;

    @media (max-width: 767px) {
        --size-b2: 18px;
    }

    --size-b3: 18px;

    @media (max-width: 767px) {
        --size-b3: 17px;
    }

    --size-b4: 17px;

    @media (max-width: 767px) {
        --size-b4: 17px;
    }

    --size-b5: 16px;
    --size-b6: 15px;
    --size-b7: 14px;

    // Heading Font Size
    --h1-large: 64px;

    @media (max-width: 991px) {
        --h1-large: 56px;
    }

    @media (max-width: 767px) {
        --h1-large: 40px;
    }

    @media (max-width: 575px) {
        --h1-large: 36px;
    }

    --h1: 40px;

    @media (max-width: 991px) {
        --h1: 36px;
    }

    @media (max-width: 767px) {
        --h1: 32px;
    }

    @media (max-width: 575px) {
        --h1: 28px;
    }
}